
<br><br>

<div class="color">

<h1>hiiiiiiiiiii</h1>
<div class="row" *ngFor="let product of arr">
      
<div class="boxed">    

        <div class="col-md-1"></div> 
        <div class="row">
           

        
            <div class="row">
                <div class="col-md-3"> 
                 <b>  {{product.title}}  </b> <br><br>
                 <b> <td>Quantity:- <font color="blue"></font></td> </b> <br>
                 <b> <td>You saved:- <font color="blue"> ₹{{product.price}}/-</font></td> </b> <br>
                <b> <td>Amount:- <font color="blue"> ₹{{product.description}}/-</font></td> </b>
                  <br>
                </div>

            </div>          

        </div>
              
  </div>
    
</div>
</div>





      